body {
    margin: 0;
    overflow: hidden;
}


#addButton{
    position: absolute;
    z-index: 2;
    left: 100%;
    transform: translate(-200%,100%);
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.rectangle {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #fff;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    resize: both;
    overflow: auto;
}
